.btn{
    background-color: aqua;
    padding: 15px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
}
.btn:hover{
    background-color: rgb(76, 76, 223);
    color: white;
    box-shadow: 3px 4px 3px 2px black;
    /*box-shadow: ស្តាំ ក្រោម ភាពព្រាល(ភាពអត់ច្បាស់)​ ទំហំភាពព្រាល ពណ៍ */
}
h1{
    text-align: center;
}
.lin1{
    display: flex;
    justify-content: center;
}
a{
    background-color: rgb(211, 234, 167);
    padding: 20px;
    border: none;
    color: black;
    border-radius: 10px;
    margin: 10px;
}
a:hover{
    background-color: yellowgreen;
    color: rgb(29, 29, 193);
    box-shadow: 3px 4px 3px 2px black;
}
/* hover : ប្រើសម្រាប់ដាក់ស្រមោល(ទើសទើបចេញស្រមោល) 
   box-shadow: ស្តាំ ក្រោម ភាពព្រាល(ភាពអត់ច្បាស់)​ ទំហំភាពព្រាល ពណ៍
*/